# ===============================================================

# Scraping data of all matches

# ===============================================================

In [51]:
from selenium import webdriver

website = 'https://www.adamchoi.co.uk/teamgoals/detailed'
path = "C:/Users/bahal/chromedriver/chromedriver.exe"
driver = webdriver.Chrome(path)
driver.get(website)

all_matches_button = driver.find_element_by_xpath("//label[@analytics-event = 'All matches']")
all_matches_button.click()

matches = driver.find_elements_by_tag_name('tr')

date = []
home_team = []
score = []
away_team = []

for match in matches:
    date.append(match.find_element_by_xpath('./td[1]').text)
    home_team.append(match.find_element_by_xpath('./td[2]').text)
    score.append(match.find_element_by_xpath('./td[3]').text)
    away_team.append(match.find_element_by_xpath('./td[4]').text)

# driver.quit()

In [39]:
import pandas as pd

dt = {'Date':date,
      'Home Team':home_team,
      'Score':score,
      'Away Team':away_team}

df = pd.DataFrame(dt)

df

           Date  Home Team  Score       Away Team
0    13-08-2021  Brentford  2 - 0         Arsenal
1    22-08-2021    Arsenal  0 - 2         Chelsea
2    28-08-2021   Man City  5 - 0         Arsenal
3    11-09-2021    Arsenal  1 - 0         Norwich
4    18-09-2021    Burnley  0 - 1         Arsenal
..          ...        ...    ...             ...
571  27-02-2022   West Ham  1 - 0          Wolves
572  05-03-2022     Wolves  0 - 2  Crystal Palace
573  10-03-2022     Wolves  4 - 0         Watford
574  13-03-2022    Everton  0 - 1          Wolves
575  18-03-2022     Wolves  ? - ?           Leeds

[576 rows x 4 columns]

In [44]:
df.to_csv('Data_of_adamchoi.csv', index = False)

# ===============================================================

# Scraping data of matches which was held in Spain (one country)

# ===============================================================

In [52]:
import time
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import pandas as pd

In [53]:
website = 'https://www.adamchoi.co.uk/teamgoals/detailed'
path = "C:/Users/bahal/chromedriver/chromedriver.exe"
driver = webdriver.Chrome(path)
driver.get(website)

all_matches_button = driver.find_element_by_xpath("//label[@analytics-event = 'All matches']")
all_matches_button.click()

dropdown = Select(driver.find_element_by_id('country'))
dropdown.select_by_visible_text('Spain')
                  
time.sleep(3)

matches_spain = driver.find_elements_by_tag_name('tr')

date_spain = []
home_team_spain = []
score_spain = []
away_team_spain = []

for match_spain in matches_spain:
    date_spain.append(match_spain.find_element_by_xpath('./td[1]').text)
    home_team_spain.append(match_spain.find_element_by_xpath('./td[2]').text)
    score_spain.append(match_spain.find_element_by_xpath('./td[3]').text)
    away_team_spain.append(match_spain.find_element_by_xpath('./td[4]').text)
                  
driver.quit()
                  
data_of_spain_matches = pd.DataFrame({'Date':date_spain,
                                      'Home Team':home_team_spain,
                                      'Score':score_spain,
                                      'Away Team':away_team_spain})
                  
data_of_spain_matches.to_csv('Data_of_Spain_matches.csv', index = False)

data_of_spain_matches

           Date   Home Team  Score    Away Team
0    14-08-2021      Alaves  1 - 4  Real Madrid
1    21-08-2021      Alaves  0 - 1     Mallorca
2    27-08-2021    Valencia  3 - 0       Alaves
3    18-09-2021      Alaves  0 - 2      Osasuna
4    22-09-2021     Espanol  1 - 0       Alaves
..          ...         ...    ...          ...
573  19-02-2022     Granada  1 - 4   Villarreal
574  27-02-2022  Villarreal  5 - 1      Espanol
575  05-03-2022     Osasuna  1 - 0   Villarreal
576  12-03-2022  Villarreal  1 - 0        Celta
577  20-03-2022       Cadiz  ? - ?   Villarreal

[578 rows x 4 columns]